body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("/public/background.jpg");
  background-size: cover;
  font-size: large;
  font-family: 'Helvetica', sans-serif;
  font-family: 'Arial', sans-serif;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  transition: transform 0.5s;
}

a:active {
  color: white;
  outline: none;
}

a:visited {
  color: white;
}

a:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 700px) {
  body {
    font-size: small;
  }
}